/* src/components/pages/LoginPage.css */

.login-container {
  display: flex;
  flex-direction: column; /* Asegura que los elementos hijos se coloquen en columna */
  justify-content: flex-start; /* Ajusta el contenido hacia la parte superior */
  align-items: center;
  min-height: 100vh;
  padding: 0; /* Elimina el padding del contenedor principal */
  margin: 0; /* Elimina los márgenes del contenedor principal */
}

.card-login {
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.17);
  border-width: 1px; /* Reduce el tamaño del borde */
  border-color: rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Establece un ancho máximo para la tarjeta */
  min-width: 350px;
  background-color: rgb(255, 255, 255, 0.6); /* Fondo gris oscuro y más opaco */
  position: relative; /* Añadir esta línea */
  padding: 20px; /* Reduce el padding superior */
  margin-top: 0; /* Elimina el margen superior */
}

.icon-container-login {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(232, 232, 232); /* Fondo gris oscuro y más opaco */
  border-radius: 50%;
  width: 70px; /* Aumenta el tamaño del contenedor */
  height: 70px; /* Aumenta el tamaño del contenedor */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.icon-person-login {
  font-size: 35px; /* Aumenta el tamaño del ícono */
  color: grey; /* Ícono blanco */
}

.card-title-login {
  font-size: 24px;
  font-weight: 300; /* Más delgado que bold */
  color: #777; /* Color gris */
  margin-top: 20px; /* Aumenta la separación encima del título */
  text-align: center; /* Centra el título */
}

.form-group-login {
  margin-bottom: 1.3rem;
  position: relative;
}

.input-icon-login {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  color: #999;
}

.form-control-login {
  padding-left: 40px;
  font-size: 12px;
  background-color: rgb(232, 232, 232); /* Fondo gris oscuro y más opaco */
}

.form-control-login::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.forgot-password {
  font-size: 12px; /* Reduce el tamaño de la fuente */
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.forgot-password:hover {
  color: rgba(0, 0, 0, 0.8);
}

.create-account-btn {
  margin-top: 20px;
}
