/* src/components/pages/RegisterButtonPage.css */

  
  .card-aux {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.6); /* Fondo gris oscuro y más opaco */
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.17);
    text-align: center;
    max-width: 250px; /* Puedes ajustar este valor según sea necesario */
    max-height: 500px;
    width: 100%; /* Asegura que la tarjeta no sea más ancha que su contenedor */
  }
  
  .logo {
    width: 200px; /* Ajusta el tamaño según sea necesario */
    margin-bottom: 10px; /* Añade un margen inferior para separar el logo de los botones */
  }
  
  .btn-warning {
    background-color: #e9af11;
    border-color: #e9af11;
    color: #fff;
    width: 200px; /* Puedes ajustar este valor según sea necesario */
    margin: 10px 0; /* Añade un margen vertical entre los botones */
  }
  
  .btn-warning:hover {
    background-color: #ffd413;
    border-color: #ffd413;
  }


  .already-registered {
    font-size: 12px; /* Reduce el tamaño de la fuente */
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }
  
  .already-registered:hover {
    color: rgba(0, 0, 0, 0.8);
  }
  
  